<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('../includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="css/news.and.events.details.less" />
</head>
<body>
<%- include('../includes/header', {hideHomeLink: false, activeTab: 'newsAndEvents', lang: 'EN_en'}); -%>
<section id="news-and-events-details-section">
    <div class="ne-top-section">
        <div class="container-xxl container-md">
            <div class="row ne-top-info">
                <div class="col-md-8 col-12">
                    <div class="go-back-btn">
                        <a href="/news-and-events"><img src="images/icons/arrow-back.svg" alt="Go back">Go back</a>
                    </div>
                    <p class="event-title"><%= event.title %></p>
                    <% if (event.eventTime && event.eventPlace) { %>
                        <div class="event-details-box">
                            <div class="d-flex e-d-row">
                                <img src="images/icons/calendar.svg" alt="Clock"><p class="event-date"><%= event.eventTime %></p>
                            </div>
                            <div class="d-flex e-d-row">
                                <img src="images/icons/map-pin.svg" alt="Pin"><p class="event-place"><%= event.eventPlace %></p>
                            </div>
                            <% if (event.extraInfo) { %><p class="extra-info"><%= event.extraInfo.EN_en %></p> <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="col-md-4 offset-md-0 mt-md-0 mt-4 col-sm-8 offset-sm-2 col-12 offset-0 d-flex justify-content-md-end justify-content-center">
                    <img class="event-image" src="<%= event.posterURL %>">
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl container-md">
        <div class="row">
            <div class="col-12">
                <div class="content-section">
                    <div class="row">
                        <div class="col-md-8 offset-md-0 col-12 content-container">
                            <div class="row">
                                <div class="event-content-box" id="event-details">
                                </div>
                            </div>
                        </div>
                        <div class="col social-buttons-container">
                            <p>Find or contact us:</p>
                            <div class="social-buttons">
                                <div class="icon">
                                    <a href="https://www.linkedin.com/company/pixelrobotics/" target="_blank">
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 28.5H7.49999V13.5H12V28.5ZM28.5 28.5H24V20.487C24 18.399 23.256 17.3595 21.7815 17.3595C20.613 17.3595 19.872 17.9415 19.5 19.107C19.5 21 19.5 28.5 19.5 28.5H15C15 28.5 15.06 15 15 13.5H18.552L18.8265 16.5H18.9195C19.842 15 21.3165 13.983 23.3385 13.983C24.876 13.983 26.1195 14.4105 27.069 15.4845C28.0245 16.56 28.5 18.003 28.5 20.0295V28.5Z" fill="#291F1E"/>
                                            <path d="M9.74999 12C11.0341 12 12.075 10.9926 12.075 9.75C12.075 8.50736 11.0341 7.5 9.74999 7.5C8.46593 7.5 7.42499 8.50736 7.42499 9.75C7.42499 10.9926 8.46593 12 9.74999 12Z" fill="#291F1E"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="icon">
                                    <a href="mailto:info@pixel-robotics.eu">
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.81435 12.1332L17.8717 19.3277C17.8745 19.3292 17.8821 19.333 17.8962 19.3375C17.9224 19.3457 17.9586 19.3519 17.9999 19.3519C18.0412 19.3519 18.0774 19.3457 18.1036 19.3375C18.1176 19.333 18.1253 19.3292 18.1281 19.3277L26.1858 12.1332H9.81435ZM6 12.1334C6 10.9324 6.9962 10 8.14838 10H27.8516C29.0039 10 30 10.9327 30 12.1334V23.8666C30 25.0676 29.0038 26 27.8516 26H8.14838C6.99614 26 6 25.0673 6 23.8666V12.1334ZM8.11134 13.457V22.6315L13.444 18.2176L8.11134 13.457ZM27.8889 13.4566L22.5558 18.2176L27.8889 22.6316V13.4566ZM15.0513 19.6543L9.95685 23.8663H26.0433L20.949 19.6544L19.5197 20.9265C18.6557 21.6975 17.3452 21.6979 16.4812 20.9269L15.0513 19.6543Z" fill="#291F1E"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="feedback" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>THANK YOU!</h6>
                <p>We received your message.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-custom btn-ok" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer'); -%>
<%- include('../includes/default-scripts'); -%>

</body>
<script>
    const eventId = '<%= event.id %>';
    const mailTo = '<%= event.mailTo %>';
    const subject = '<%= event.subject %>';
    const emailTemplate = '<%= event.emailTemplate %>';
</script>
<script type="text/javascript" src="/js/sendEventMail.js"> </script>
</html>
