<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="css/careers.less" />
</head>
<body>
<header id="header" class="header">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a href="/">
                <img class="header-logo" src="./images/pixel-robotics-logo.svg" alt="Pixel Robotics">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav main-nav">
                    <li class="">
                        <a class="" href="/">Home</a>
                    </li>
                    <li class="">
                        <a class="active-nav" aria-current="page" href="/career">Career</a>
                    </li>
                    <li class="">
                        <a class="" href="/contact">Contact</a>
                    </li>
                </ul>
                <div class="mobile-contact-info d-sm-none d-flex">
                    <div class="col-12 d-flex flex-column mb-2">
                        <span>E-mail:</span>
                        <a href="mailto:info@pixel-robotics.eu" class="o-text">info@pixel-robotics.eu</a>
                    </div>
                    <div class="col-12 d-flex flex-column">
                        <span>Phone:</span>
                        <a href="tel:+49 89 20 00 85 18" class="o-text">+49 89 20 00 85 18</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<section id="careers-section">
    <div class="container-xxl container-md">
        <div class="row">
            <div class="col title-section">
                <h2>Our vacancies</h2>
                <div class="page-sub-title"><b><%= vacancies.length %> Current</b> Openings</div>
            </div>
        </div>
        <div class="row">
            <% vacancies.forEach(function(vacancy) { %>
                <%- include('includes/careers.block.ejs', {
                    title: vacancy.title,
                    city: vacancy.city,
                    country: vacancy.country,
                    pdfLink: vacancy.pdfLink,
                }); %>
            <% }); %>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">If you wish to be considered for any future positions, please send your CV and cover letter to <span class="o-text bold-text">career@pixel-robotics.eu</span>
                    <br><span class="bold-text">We are looking forward to receiving your application!</span></p>
            </div>
        </div>
    </div>
</section>

<%- include('includes/footer'); -%>
<%- include('includes/default-scripts'); -%>

</body>
</html>
