<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="css/careers.less" />
</head>
<body>
<header id="header" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <img class="header-logo" src="/images/pixel-robotics-logo.png" alt="Pixel Robotics">
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <div class="button_container" id="toggle">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                        <div class="overlay" id="overlay">
                            <nav class="main-nav overlay-menu">
                                <ul class="d-flex">
                                    <li><a href="/" class="scroll-to">Home</a></li>
                                    <li><a href="about" class="">About</a></li>
                                    <li><a href="careers" class="active-nav">Careers</a></li>
                                    <li><a href="contact">Contacts</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="careers-section">
    <div class="container">
        <div class="row">
            <div class="col title-section">
                <h2>Our vacancies</h2>
                <div class="page-sub-title"><b><%= vacancies.length %> Current</b> Openings</div>
            </div>
        </div>
        <div class="row">
            <% vacancies.forEach(function(vacancy) { %>
                <%- include('includes/careers.block.ejs', {
                    title: vacancy.title,
                    description: vacancy.description,
                    country: vacancy.country,
                    pdfLink: vacancy.pdfLink,
                }); %>
            <% }); %>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">If you wish to be considered for any future positions, please send your CV and covering letter to <span class="o-text bold-text">career@pixel-robotics.eu</span>
                    <br><span class="bold-text">We are looking forward to receiving your application!</span></p>
            </div>
        </div>
    </div>
</section>

<%- include('includes/footer'); -%>
<%- include('includes/default-scripts'); -%>

</body>
</html>
