<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="css/careers.less" />
</head>
<body>
<%- include('includes/header', {hideHomeLink: false, activeTab: 'career', lang: 'EN_en'}); -%>
<section id="careers-section">
    <div class="container-xxl container-md">
        <div class="row">
            <div class="col title-section">
                <h2>Our vacancies</h2>
                <div class="page-sub-title"><b><%= vacancies.length %> Current</b> Openings</div>
            </div>
        </div>
        <div class="row">
            <% vacancies.forEach(function(vacancy) { %>
                <%- include('includes/careers.block.ejs', {
                    title: vacancy.title,
                    city: vacancy.city,
                    country: vacancy.country,
                    pdfLink: vacancy.pdfLink,
                }); %>
            <% }); %>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">If you wish to be considered for any future positions, please send your CV and cover letter to <span class="o-text bold-text">career@pixel-robotics.eu</span>
                    <br><span class="bold-text">We are looking forward to receiving your application!</span></p>
            </div>
        </div>
    </div>
</section>

<%- include('includes/footer'); -%>
<%- include('includes/default-scripts'); -%>

</body>
</html>
