<p><b>Name:</b> <%= locals.name %></p>
<p><b>Email:</b> <%= locals.email %></p>
<p><b>Company:</b> <%= locals.company %></p>
<p><b>Job Title:</b> <%= locals.jobTitle %></p>
<p><b>Phone:</b> <%= locals.phone %></p>

<% if (locals.topicsOfInterest) {%>
    <p><b>Topics of interest: </b></p>
    <span style="margin-left: 10px;"><%= locals.topicsOfInterest %></span>
<% } %>
<% if (locals.specificCase) {%>
    <p><b>I already have a specific use case that I would like to discuss: </b><%= locals.specificCase %></p>
    <% if (locals.specificCases) { %>
        <span style="margin-left: 10px;"><%= locals.specificCases %></span><br>
    <% } %>
<% } %>
<% if (locals.logimatAppointment) { %>
    <p><b>I want an appointment at the Logimat:</b></p>
    <span style="margin-left: 10px;"><%= locals.logimatAppointment %></span><br>
<% } %>
<% if (locals.remarks) { %>
    <p><b>At the following time: (You can also use this box for comments / further topics):</b></p>
    <span style="margin-left: 10px;"><%= locals.remarks %></span><br>
<% } %>
