<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('../includes/metadata'); -%>
    <link rel="stylesheet/less" type="text/css" href="css/news.and.events.less" />
</head>
<body>
<%- include('../includes/header', {hideHomeLink: false, activeTab: 'newsAndEvents', lang: 'DE_de'}); -%>
<section id="news-and-events-section">
    <div class="container-xxl container-md">
        <div class="row title-container">
            <div class="col title-section">
                <h2 id="page-title">News &amp; Events</h2>
                <div id="page-sub-title" class="page-sub-title">Informieren Sie sich hier über Neuigkeiten und kommende Events</div>
            </div>
        </div>
        <div class="toggle-buttons-wrapper">
            <div class="toggle-buttons-holder" id="latest-news-and-events">
                <p class="btn-title">News &amp; Events<span class="counter"><%= newsCount + eventsCount %></span></p>
            </div>
            <div class="toggle-buttons-holder" id="latest-news">
                <p class="btn-title">Aktuelle News<span class="counter"><%= newsCount %></span></p>
            </div>
            <div class="toggle-buttons-holder" id="latest-events">
                <p class="btn-title">Kommende Events<span class="counter"><%= eventsCount %></span></p>
            </div>
        </div>
        <div class="row events-list-container"></div>
    </div>
</section>

<%- include('../includes/footer'); -%>
<%- include('../includes/default-scripts'); -%>
<script type="text/javascript" src="js/de.eventsAndNews.js"></script>

</body>
</html>
